<!DOCTYPE html>
<html>
<head>
  <title>PokéCupid</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Signika' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <script type="text/javascript">
      window.localStorage.setItem('user_id', <%= current_user.id %>)
    </script>
  <% end %>
  <%= yield %>


</body>
</html>
