<!DOCTYPE html>
<html>
<head>
  <title>Capstone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%  if current_user  %>
      <%= current_user.username%>
      <%= button_to "Sign Out", session_url, method: :delete %>
      <% end %>
  <br>



  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <%= error + ". " %>
    <% end %>
  <% end %>

  <%= yield %>


</body>
</html>
